.btn {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  background-color: var(--secondary);
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.1s;
}

.btn:hover {
  transform: scale(1.1);
}
